<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/project_manager"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="org.dragard.projectmanager.api.mybatis.mapper.TaskMapper" />
        <mapper class="org.dragard.projectmanager.api.mybatis.mapper.ProjectMapper" />
        <mapper class="org.dragard.projectmanager.api.mybatis.mapper.UserMapper" />
    </mappers>
</configuration>